# https://docs.docker.com/compose/how-tos/environment-variables/envvars/
COMPOSE_PROFILES=novnc

# See Docker Compose files for supported environment variables & profiles.

# .devcontainer/docker-compose.devcontainer.yaml
# -----------------------------------------------------------------------------
# Disable noVNC profile and provide your own values for remote display if needed
# DISPLAY=

# noVNC service
# NOVNC_DISPLAY_WIDTH=
# NOVNC_DISPLAY_HEIGHT=
# NOVNC_HOST=
# NOVNC_PORT=
